/* Estilos generales */


:root {
    --color-spotyGreen: #1ed760;
    --color-blueMoon: #1f1739;
    --color-shadowMe: #232323;
    --color-blackHole: #000000;
}
.encryptor-body {
    background-image: url('./images/background.jpeg');
    background-size: cover;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.header {
    padding: 20px;
}

.encryptor-main {
    margin-bottom: 10px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
}

.encryptor-section {
    width: 60%;
    margin: 0 auto;
}

.texto-a-encriptar {
    width: 100%;
}

.texto-a-encriptar textarea {
    box-sizing: border-box;
    background: #f7814f;
    border: none;
    outline: none;
    resize: none;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    color: white;
    font-weight: 500;
    width: 100%;
    margin-bottom: 13.5%;
    border-radius: 18px;
    opacity: 100%;
    animation: encript 1s 2;
}

.texto-a-encriptar textarea::placeholder {
    color: white;
    font-weight: 500;
}

@keyframes encript {
    0% { opacity: 100%; }
    50% { opacity: 50%; }
    100% { opacity: 100%; }
}

/* Sección de botones y requisitos */
.mensaje-requisitos {
    display: flex;
    gap: 5px;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
}

.div-botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.div-botones button {
    transition: 1s;
    background: linear-gradient(#fc8b00, #dbb853);
    background-repeat: no-repeat;
    padding: 1em 20px;
    width: 49%;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

/* Aside para el encriptador */
.aside-section {
    width: 30%;
}

.aside-encriptador {
    background: #f7814f;
    width: 90%;
    color: white;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}

.aside-encriptador h2 {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

.aside-encriptador p {
    font-size: 14px;
    margin-bottom: 30px;
}

.aside-encriptador button {
    transition: 1s;
    margin-top: 20%;
    margin-bottom: 7%;
    background: linear-gradient(#fc8b00, #dbb853);
    background-repeat: no-repeat;
    padding: 1em 20px;
    width: 80%;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.div-botones button:hover,
.aside-encriptador button:hover {
    box-shadow: 0 0 10px white;
    transform: scale(1.05);
}

/* Mensaje encriptado y resultado */
.mensaje {
    color: white;
    background: #f7814f;
    background-image: url('./images/notexto.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    margin-top: 10%;
    border-radius: 24px;
    outline: none;
    resize: none;
    text-align: center;
    padding: 5%;
}

.mensaje::placeholder {
    font-size: 2em;
    color: var(--color-spotyGreen);
}

.mensaje:focus {
    outline: none;
}

.resultado {
    margin-top: 20px;
    text-align: center;
}

/* Mensaje de texto copiado */
.texto-copiado {
    color: white;
    opacity: 0%;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
    .mensaje {
        padding: 0;
        width: 70%;
    }
}

@media (max-width: 768px) {
    .encryptor-main {
        display: block;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .encryptor-section {
        width: 90%;
    }

    .encryptor-section textarea {
        text-align: center;
        margin-top: 15%;
        font-size: 3em;
        padding: 20px 15px 0 15px;
    }

    .encryptor-section textarea::placeholder {
        font-size: 1em;
    }

    .encryptor-section p {
        font-size: 1.5em;
    }

    .mensaje-requisitos {
        display: flex;
        gap: 5px;
        color: black;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: center;
        justify-content: center;
    }

    .div-botones {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .div-botones button {
        animation: none;
        width: 45%;
        margin-bottom: 5%;
        padding: 30px;
        font-size: 2em;
    }

    .aside-section {
        width: 100%;
    }

    .aside-encriptador {
        padding: 5px;
    }

    .aside-encriptador textarea {
        background: none;
    }

    .aside-encriptador h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 2em;
    }

    .aside-encriptador p {
        font-size: 2em;
        margin-bottom: 30px;
    }

    .mensaje {
        padding-bottom: 0px;
        font-size: 3em;
    }

    .aside-encriptador button {
        width: 80%;
        margin-bottom: 5%;
        padding: 30px;
        font-size: 2em;
        margin-top: 0;
    }
}

.footer {
    margin-top: 10%;
    background-image: url('./images/coding.gif');
    color: white;
    bottom: 25px;
    height: 100%;
    padding: 30px;
}

.redes {
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 2em;
}

.autor-caja {
    margin: auto;
    padding: 15px;
    text-align: center;
}
@media (max-width: 480px) {
    .texto-a-encriptar textarea::placeholder {
        font-size: 0.5em;
    }

    .div-botones {
        display: block;
    }

    .mensaje-requisitos {
        font-size: 0.5em;
    }

    .div-botones button {
        width: 100%;
        font-size: 1em;
    }

    .mensaje {
        font-size: 1.5em;
    }

    .aside-encriptador p {
        font-size: 1em;
    }

    .aside-encriptador button {
        font-size: 1em;
    }
}
